* {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

body {
    background: url(../img/background.png) repeat-x;
    font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}

h2 {
    margin-top: 15px;
    font: normal 32px "omnes-pro", Helvetica, Arial, sans-serif;
}

h2 span {
    font-size: 24pt;
}

h2 span a {
    vertical-align: bottom;
    color: #13C686;
    text-shadow: -2px 0 1px #01060E;
    text-decoration: none;
}

h2 span a:hover {
    color: #11a46e;
    text-shadow: -2px 0 1px #01060E;
}

h3 {
    margin-left: 30px;
    font: normal 26px "omnes-pro", Helvetica, Arial, sans-serif;
    color: #666;
}

p {
    margin-top: 10px;
}

button {
    font-size: 18px;
    padding: 1px 7px;
}

input {
    font-size: 18px;
}

input[type=checkbox] {
    margin: 7px;
}

#header {
    position: relative;
    width: 900px;
    margin: auto;
}

#header h2 {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 42px;
    font-weight: bold;
}

#header h2 > a {
    text-decoration: none;
    color: #1585FF;
    text-shadow: -2px 0 1px #01060E;
}

#header h2>a:hover {

    color: #1165c5;
}

#content {
    width: 880px;
    margin: 0 auto;
    padding: 10px;
}

#footer {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: #999;
}

.container {
    box-sizing: border-box;
    border-radius: 10px;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(rgb(247, 247, 247) 0, #FFF 31px);
    background: -o-linear-gradient(rgb(247, 247, 247) 0, #FFF 31px);
    background: -ms-linear-gradient(rgb(247, 247, 247) 0, #FFF 31px);
    background: -moz-linear-gradient(rgb(247, 247, 247) 0, #FFF 31px);
    background: -webkit-linear-gradient(rgb(247, 247, 247) 0, #FFF 31px);
    box-shadow: 0 0 33px rgb(150, 177, 237);
    -o-box-shadow: 0 0 33px rgb(150, 177, 237);
    -ms-box-shadow: 0 0 33px rgb(150, 177, 237);
    -moz-box-shadow: 0 0 33px rgb(150, 177, 237);
    -webkit-box-shadow: 0 0 33px rgb(150, 177, 237);
}

.placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.legend table {
    border-spacing: 5px;
}

.legendLabel {
    width: 100px;
}

label {
    font-size: 12pt;
}

.table {
    width: 100%;
}

.table td:nth-child(even) {
    text-align: left;
    width: 50px;
    vertical-align: middle;
}

.table td:nth-child(odd) {
    text-align: right;
    width: 100px;
    vertical-align: middle;
}

input {
    width: 100%;
}

.busy {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 201, 201, 0.5);
    z-index: 999;
    top: 0;
    left: 0;
}

.busy > .busyContext {
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
    color: #999;
    font-size: 40pt;
    text-shadow: -1px -1px 14px black;
    background-color: #5E5A5A;
    padding: 30px;
    font-family: fantasy;
}